body {
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif, sans;
    font-size: 8pt;
}

body#popup {
    background-color: #666;
}

body#options {

}

div.popup {
    width: auto;
    text-align: center;
}

div.popup h1.title {
    color: white;
    text-shadow: 2px 2px 2px black;
}

div.popup table tr.divider {
    height: 20px;
}

div.popup input[type='button'] {
    width: 40px;
    height: 25px;
    font-size: 8pt;
    background-color: black;
    color: white;
    font-weight: bold;
    display: none;
    border: 3px solid silver;
    padding: 0;
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

div.popup input.buttonAction {
    display: block
}

div.popup div#status {
    background-color: white;
    padding: 3px;
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
    border: 1px dashed silver;
    height: 15px;
}

div.options {

}

div.options fieldset {
    width: 500px;
}

div.options fieldset legend {
    color: darkblue;
    font-weight: bold;
}

div.options label {
    width: 150px;
    padding-right: 10px;
    float: left;
}

div.options div#status {
    padding-top: 20px;
    color: darkred;
    font-weight: bold;
}
